@model CCOGWebsite.Models.Giving

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col-8">
            <h1 class="text-center fancy shadow p-3 mb-4 bg-body-tertiary rounded border border-2">
                Giving Details
            </h1>
            <dl class="row justify-content-evenly text-center">
                <dt class="col-sm-2">
                    <u> @Html.DisplayNameFor(model => model.Amount): </u>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-2">
                    <u>@Html.DisplayNameFor(model => model.GivingTowards):</u>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GivingTowards)
                </dd>
            </dl>
        </div>
        <div class="text-center">
            <a class="btn btn-fance rounded-pill" asp-action="Edit" asp-route-id="@Model?.Id" role="button">Edit</a>
            <a class="btn btn-fance rounded-pill" asp-action="Index" role="button">Back to List</a>
        </div>
    </div>
</div>
