@page
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--This is a commit-->
    <div class="container-fluid">
        <div class="ratio ratio-16x9">
            <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/CCOGChurch.png"
                 class="rounded" alt="Christopher Church" />
        </div>
        <br />
        <div class="row justify-content-evenly">
            <div class="col-11 align-self-center shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <h3>About Christopher Church Of God</h3>
                <p>
                    Christopher Church Of God, led by Pastor Daniel and June Madden,
                    is based in Hazard, KY in the Christopher area.
                    The Church has a been around since (year), founded by (insert name),
                    and has relocated once to it now new location.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="ratio ratio-1x1">
            <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Pastors.jpeg"
                 class="rounded" alt="Pastors Daniel and June Madden with Children" />
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-11 shadow p-3 mb-3 bg-body-tertiary rounded border border-2 border-black">
                <h3>Pastors Daniel and June Madden</h3>
                <p>
                    Daniel and June have two Children Keaton and Kayah.
                    Daniels Background.
                    Junes Back Ground.
                </p>
            </div>
        </div>
    </div>
</body>
</html>