@page
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Christopher Church Of God</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col rounded shadow p-1 mb-1">
                <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/PastorAppre.png"
                     alt="Pastor Daniel with cake" style="width:100%">
            </div>
            <div class="col rounded shadow p-1 mb-1">
                <img src="https://github.com/michaelshep52/CCOGPictures/blob/main/KidsDrama.png?raw=true"
                     alt="Kids Drama" style="width:100%">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-5 p-3 mb-3">
                <h3>Pastor Appreciation</h3>
            </div>
            <div class="col-5 p-3 mb-3">
                <h3>Kids Drama</h3>
            </div>
        </div>
    </div>
</body>
</html>

