@model CCOGWebsite.Models.Event

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col-7">
            <h1 class="text-center fancy shadow p-3 mb-4 bg-body-tertiary rounded border border-2">
                Create Event
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Fellowship"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <input asp-for="Details" class="form-control" placeholder="Plan to meet and eat" />
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-fance rounded-pill" />
                    <a class="btn btn-fance rounded-pill" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
